@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body, #root, #root>div {
  height: 100%
}

#root {
  background: -600% top no-repeat url('./images/MoonBackgrounds4.png') #000001;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

}

.App-header h1,
.App-header p {
  font-family: Lato, sans-serif;
}

.App-header h1 {
  margin: 0;
  color: #ffffff;
  font-size: 2rem;
}

.App-header p {
  color: #6E6E6E;
  font-size: 1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AppForm p,
.AppForm p>input,
.AppForm p>label {
  display: block;
}

.AppForm input {
  font-family: Roboto, sans-serif;
}

.AppForm label {
  font-family: Lato, sans-serif;
  color: #6E6E6E;
}

.AppForm button {
  background-color: #6684F2;
  border-radius: 1rem;
  padding: .5rem .9rem;
  border: 0;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}